<h1><%=@list.name%></h1>

<ul>
<% @bookmarks.each do |bookmark| %>
  <li><h4><%=bookmark.movie.title%></h4></li>
  <h5><%=bookmark.movie.overview%></h5>
  <p><%=bookmark.comment%></p>
  <%# <%= cl_image_tag bookmark.photo.key, height: 300, width: 400, crop: :fill %>
  <%= link_to "Delete",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
</ul>

<%= link_to("new movie(bookmark)", new_list_bookmark_path(@list)) %>
